{% extends "base.html" %}
{% block title %}Ajoutez un client{% endblock %}

{% block form_client %}
<body>
    <div class="back-form">
        <div class="h-100 d-flex align-items-start">
            <div class="container w-25 h-50">
                <form method="POST">
                    {{ creation_client.csrf_token }}
                        <div class="mb-3">
                            <label for="Nom" class="form-label "> Nom* :</label>
                                {{ creation_client.Nom }}
                        </div>
                        <div class="mb-3">
                            <label for="Prenom" class="form-label "> Prenom* :</label>
                                {{ creation_client.Prenom }}
                        </div>
                        <div class="mb-3">
                            <label for="Email" class="form-label "> Email* :</label>
                                {{ creation_client.Email }}
                        </div>
                        <div class="mb-3">
                            <label for="Entreprise" class="form-label "> Entreprise* :</label>
                                {{ creation_client.Entreprise }}
                        </div>
                        <div class="mb-3">
                            <label for="Poste" class="form-label "> Poste :</label>
                                {{ creation_client.Poste }}
                        </div>
                        <div class="mb-3">
                            <label for="Satut" class="form-label "> Statut :</label>
                                {{ creation_client.Statut }}
                        </div>
                        <div class="mb-3">
                            <label for="Telephone" class="form-label "> Téléphone* :</label>
                                {{ creation_client.Telephone }}
                        </div>
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}