{% extends "base.html" %}
{% block title %}Ajoutez une entreprise{% endblock %}

{% block form_entreprise %}
<form method="POST">
    {{ creation_entreprise.csrf_token }}
    <div class="mb-3">
        <label for="Nom" class="form-label "> Nom* :</label>
            {{ creation_entreprise.Nom(class_="form-control" ) }}
    </div>
    <div class="mb-3">
        <label for="Siret" class="form-label "> Siret* :</label>
            {{ creation_entreprise.Siret(class_="form-control" ) }}
    </div>
    <div class="mb-3">
        <label for="Adresse" class="form-label "> Adresse* :</label>
            {{ creation_entreprise.Adresse(class_="form-control" ) }}
    </div>
    <div class="mb-3">
        <label for="Code" class="form-label "> Code Postal* :</label>
            {{ creation_entreprise.Code(class_="form-control" ) }}
    </div><div class="mb-3">
        <label for="Ville" class="form-label "> Ville* :</label>
            {{ creation_entreprise.Ville(class_="form-control" ) }}
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label "> Description :</label>
            {{ creation_entreprise.Description(class_="form-control" ) }}
    </div>
    <div class="mb-3">
        <label for="URL" class="form-label "> URL :</label>
            {{ creation_entreprise.URL(class_="form-control" ) }}
    </div>
    <div class="mb-3">
        <input type="submit" name='valider' value="Valider" class="btn btn-primary">
    </div>
</form>
{% endblock %}