{% extends "base.html" %}
{% block title %}Entreprise{% endblock %}


<form method="post">
    {{ formulaire_modification_entreprise.csrf_token}}
    <div class="mb-3">
        <label for="Nom" class="form-label "> Nom :</label>
        {{  formulaire_modification_entreprise.Nom(value=informations_entreprise.Nom, class_="form-control" ) }}
    </div>
    <div class="mb-3">
        <label for="Siret" class="form-label "> Siret :</label>
        {{  formulaire_modification_entreprise.Siret(value=informations_entreprise.Siret, class_="form-control" ) }}
    </div>
    <div class="mb-3">
        <label for="Adresse" class="form-label"> Adresse :</label>
        {{  formulaire_modification_entreprise.Adresse(value=informations_entreprise.Adresse, class_="form-control") }}
    </div>
    <div class="mb-3">
        <label for="Code" class="form-label "> Code :</label>
        {{  formulaire_modification_entreprise.Code(value=informations_entreprise.Code, class_="form-control") }}
    </div>
    <div class="mb-3">
        <label for="Ville" class="form-label "> Ville :</label>
        {{  formulaire_modification_entreprise.Ville(value=informations_entreprise.Ville, class_="form-control") }}
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label "> Description :</label>
        <textarea class="form-control" name="Description">{{ informations_entreprise.Description }} </textarea>
    </div>
    <div class="mb-3">
        <label for="URL" class="form-label "> URL :</label>
        {{  formulaire_modification_entreprise.URL(value=informations_entreprise.URL, class_="form-control") }}
    </div>
    <div class="mb-3">
        <input type="submit" name='valider' value="Modifier" class="btn btn-primary">
        <input type="submit" name='valider' value="Supprimer" class="btn btn-primary">
    </div>
</form>
{% endblock %}
{% block client_assoc %}
<div id="liste_client" class="table-responsive">
    <table class="table">
        {{ formulaire_facture.csrf_token}}
        <thead>
            <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Mail</th>
            </tr>
        </thead>
        {% for contact in informations_contact %}
        <tbody>
            <tr>
                <td>{{ contact.Nom}}</td>
                <td>{{ contact.Prenom}}</td>
                <td>{{ contact.Email }}</td>
                <td><a href="/Client-{{ contact.Email }}">Information</td>
                <td><a href="/facture-{{ contact.Email }}-{{ informations_entreprise.Siret }}">Visualiser la facture</td>
                <td><a href="/pdf-{{ contact.Email }}-{{ informations_entreprise.Siret }}" class="button"><i class="fa fa-download"></i>Télécharger PDF</a></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}
