{% extends 'basefacture.html' %}

{% block title %}  {{ title }}  {% endblock %}


{% block content %}
    <div>
        <header>
            <h1>FACTURE
              <h2>La jolie boite à code</h2>
            </h1>
          </header>
        <section class="flex">
            <dl>
              <dt>Facture #</dt>
              <dd>{{facture[1]}} - {{entreprise[1]}}</dd>
              <dt>Date de facturation</dt>
              <dd>{{facture[0]}}</dd>
            </dl>
          </section>
        <section class="flex">
            <dl class="bloc">
              <dt>Facturé à:</dt>
              <dd>
                {{entreprise.nom}}<br>
                {{entreprise.code}}, {{entreprise.adresse}}<br>
                {{entreprise.ville}} Siret°: {{entreprise.siret}}
                <dl>
                  <dt>Attn</dt>
                  <dd>{{users.nom}} {{users.prenom}} </dd>
                  <dt>Téléphone</dt>
                  <dd>{{users.telephone}}</dd>
                  <dt>Courriel</dt>
                  <dd>{{users.mail}}</dd>
                </dl>
              </dd>
            </dl>
            <dl class="bloc">
              <dt>Description de service:</dt>
              <dd>/</dd>
              <dt>Période totale:</dt>
              <dd>/</dd>
            </dl>
        </section>
        <footer>
        <p>Moi – Informatique − Développement WEB | <a href="http://joseroux.com">joseroux.com</a></p>
        <p>1777 some street in the woods, Wentworth-Nord, Qc, J0T 1Y0 | Tél. 450-555-1000 | <a href="mailto:mail@me.com">mail@me.com</a></p>
        </footer>
    </div>

</div>
{% endblock %}
