{% extends "base.html" %}
{% block content %} Home Page {% endblock %}

{% block table_entreprise %}
<form method="POST">
    {{ formulaire_recherche.csrf_token }}
    {{ formulaire_recherche.recherche }}
    <input type="submit"  value="Rechercher (Nom)">
</form>
<div id="liste_entreprise" class="table-responsive">
    <table class="table">
        {{ formulaire_acces_entreprise.csrf_token }}
        <thead>
            <tr>
            <th>Entreprise</th>
            <th>Siège Social</th>
            <th>Description</th>
            <th>Numéro Siret</th>
            </tr>
        </thead>
        {% for entreprise in liste_entreprise %}
        <tbody>
            <tr>
              <td><a href="/Entreprise-{{ entreprise.Siret }}">{{ entreprise.Nom }}</td>
              <td>{{ entreprise.Ville}}</td>
              <td>{{ entreprise.Description}}</td>
              <td>{{ entreprise.Siret }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}